<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helmet.dao.BlogTypeDao">

	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="typeId" column="typeId"/>
		<result property="typeName" column="typeName"/>
		<result property="orderNo" column="orderNo"/>
	</resultMap>
	
	<select id="getTypeList" resultMap="BlogTypeResult">
		SELECT t2.typeId,t2.typeName,COUNT(t1.blogId) AS typeCount FROM t_blog t1 RIGHT JOIN t_blogtype t2 
		ON t1.typeId=t2.typeId GROUP BY t2.typeName ORDER BY orderNo
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
		select * from t_blogtype where typeId=#{typeId}
	</select>
</mapper> 